{% if mismatch %}
    {{ mismatch }}
{% endif %}

{% if wrongone %}
    {{ wrongone }}
{% endif %}

<form action="{% url 'Login:savechangepassword'%}" method="post">
    {% csrf_token %}
    old password:     <input type="password" name="oldpassword"><br>
    new password:     <input type="password" name="newpassword"><br>
    confirm password: <input type="password" name="confirmpassword"><br>
    <input type="submit" name="submit" value="CHANGE PASSWORD"><br>
    <a href="{% url 'Login:viewprofile' %}">CANCEL</a>


</form>